<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">

 

   <h4> <b> <%= listing.title %> </b> </h4>
    <div class="col-6 offset-3">
    <div class="listing-card">
      <img 
      src="<%= listing.image.url %>" 
      class="card-img-top show-img" 
      alt="listing img">
  <div class="card-body">
    <p class="card-text"><i> Owned By<%= listing.owner.username %></i></p>
    <p class="card-text"><%= listing.description  %></p>
    <p class="card-text"> &#8377;<%=  listing.price%></p>
    <p class="card-text"><%=listing.country %></p>
    <p class="card-text"><%= listing.location %></p>
  
  

  </div>
    </div>
    </div>

<div class="button-group mb-3" >
     <a href="/listings/<%= listing._id %>/edit" class=" btn-dark edit-btn">Edit</a>
     
<form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
      <button class="btn-dark delete-btn">Delete</button>
    </form>
    
    </div>
    
    </div>
    <hr>
    <div class="col-8 offset-3">

    <h4>Leave a review</h4>
     <% if(currUser) {%>
      <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
        <div class="mb-3 mt-2">
       <label for="rating">Rating</label>
       <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
       </div>
       <div class="mb-3 mt-2">
       <label for="comment" class="form-label">Comments</label>
       <textarea 
       type="text" 
       id="comment" 
       name="review[comment]"
        cols="30" 
        rows="5"
        class="form-control"
        required
        ></textarea>
        <div class="invalid-feedback">
          please add some comments for review
        </div>
       </div>
       <button class="btn btn-dark">Submit</button>
       
      </form>
      <% } %>
      <hr>
      <p><b>All reviews</b></p>
      <div class="row">
      
        <% for(review of listing.reviews){%>
          
         <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
    <h5 class="card-title"><%= review.author.username %></h5>
     <p class="card-text"><%= review.comment %></p>
     <p class="card-text"><%= review.rating %> star</p>


         </div>
         <form class="mb-3" method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=Delete">
          <button class=" btn btn-sm btn-dark">Delete</button>
         </form>
         
      
      </div>
      <% } %>
      </div>
      </div>
    
    

    
    

  

